.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.header-lvl1 {
    padding: 0;
    margin: 0;
    color: #444444;
    font-size: 1.6rem;
    font-weight: 600;
    word-break: break-word;
}
.header-lvl2 {
    padding: 0;
    margin: 0;
    color: #444444;
    font-size: 1.3rem;
    font-weight: 500;
    word-break: break-word;
}

.register {
    justify-content: center;
    gap: 1rem;
}

.activities {
    flex-wrap: wrap;
    /* background-color: blue; */
    gap: 1rem;
}

.activity {
    min-width: 100px;
    flex: 1;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    word-break: break-word;
}

.items {
    max-width: 1000px;
    gap: 1rem;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem;
}

.input {
    flex: 1;
    gap: 0.5rem;
}
.input div {
    word-break: break-word;
}
.input input {
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.input input:hover {
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button {
    flex: 1;
    gap: 0.5rem;
}
.button div {
    user-select: none;
    box-sizing: border-box;
    min-height: 40px;
    text-align: center;
    word-break: break-word;
    padding: 10px 20px;
    /* font-size: 1rem; */
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button div:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.button div:active {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.select {
    flex: 1;
    gap: 0.5rem;
}
.select div {
    word-break: break-word;
}
.select select {
    user-select: none;
    box-sizing: border-box;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.select select:hover {
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.footer-input {
    gap: 1rem;
    align-items: flex-end;
}

.footer {
    gap: 0.5rem;
}

.menu-item.highlight {
    font-weight: bold;
}

.menu {
    box-sizing: border-box;
    background-color: rgba(240, 240, 240, 0.9);
    height: 100%;
}

/* Sticky */
.register {
    align-items: flex-start;
}
/* Sidebar */
.side-bar-container,
.side-bar-sticky {
    z-index: 101;
    height: 100%;
}
.side-bar-container.collapsed,
.side-bar-sticky.collapsed {
    z-index: 99;
}

.side-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.side-bar.right {
    right: 0;
    flex-direction: row-reverse;
}

.side-bar-main {
    overflow: hidden;
    /* background-color: wheat; */
    transition: width 0.3s ease-in-out;
}
.side-bar-container.relative,
.side-bar-toggle {
    width: 50px;
}
.side-bar-main {
    overflow-y: auto;
    height: 90vh;
}
.side-bar-main,
.side-bar-main-content {
    width: 75vw;
}
.side-bar-main-content {
    height: 100%;
}
.side-bar-main.collapsed {
    width: 0;
}
.side-bar-toggle {
    overflow: hidden;
    /* background-color: aquamarine; */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 100; 
    display: none; 
}
.overlay.active {
    display: block; 
}
/*side-click*/
.side-click {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* transform: translateY(5px); */
}
.side-click:hover {
    /* transform: translateY(0px); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.side-click-dash {
    width: 90%;
    height: 20%;
    border-radius: 5px;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}
.side-click:hover .side-click-dash {
    background-color: #0056b3;
}
/* TIMELINE */
.small-time-line {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.small-time-line-timeline {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.small-time-line-timeline-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.small-time-line-timeline-time-box {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
}
.small-time-line-timeline-time-label {
    box-sizing: border-box;
    text-align: center;
    padding: 0 2px;
    font-size: 13px;
}
.big-time-line-timeline-time-box {
    box-sizing: border-box;
    background-color: rgba(0, 123, 255, 0.3);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 123, 255, 0.1);
}
.big-time-line-timeline-time-box:hover {
    background-color: rgba(0, 86, 179, 0.3);
}