.height500 {
  height: 500px;
}
.container-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* border-style: solid;
  border-color: #000000;
  border-width: 1px; */
}
.container-row {
  display: flex;
  flex-direction: row;
}
.input-default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-default-label {
  text-align: left;
}
.input-default-input {
}
.header-lvl-1 {
}
.fit {
  width: fit-content;
  block-size: fit-content;
}
.time-item {
  height: 100%;
}




.container-style {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px;
  margin: 10px;
}
.container-style .menu-item {
  padding: 10px 15px; /* Padding inside each menu item */
  margin: 5px 0; /* Spacing between menu items */
  background-color: #ffffff; /* White background for each item */
  color: #333; /* Dark grey text */
  border-radius: 3px; /* Slightly rounded corners for each item */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Change mouse cursor to indicate clickable items */
}
.container-style .menu-item:hover {
  background-color: #007bff; /* Blue background on hover */
  color: #ffffff; /* White text on hover */
}
.container-style .menu-item.highlight {
  background-color: #ffdd57; /* Yellow background for highlighted items */
  color: #000; /* Black text for contrast */
  font-weight: bold; /* Make text bold to stand out */
}
.container-style .menu-item.highlight:hover {
  background-color: #ffc107; /* Darker yellow on hover */
  color: #000; /* Keep text color consistent */
}
.time-item {
  /* margin: 5px 0; */
  background-color: #ffffff; /* White background for each item */
  color: #333; /* Dark grey text */
  border-radius: 3px; /* Slightly rounded corners for each item */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Change mouse cursor to indicate clickable items */
}
.container-style .time-item:hover {
  background-color: #007bff; /* Blue background on hover */
  color: #ffffff; /* White text on hover */
}
.container-main {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px;
  margin: 10px;
}